.reservations-container {
    padding: 20px;
  }
  
  .reservations-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .reservations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }
  
  .reservations-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 350px;
    height: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .reservations-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .reservations-image {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
  }
  
  .reservations-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    padding: 20px;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: 1.0em;
  }
  
  .reservations-item:hover .reservations-info {
    opacity: 1;
  }
  
  .reservations-tags {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .reservations-tag {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .invalid-tag {
    background-color: #e74c3c;
  }
  
  .ref-tag {
    background-color: #3498db;
  }
  
  .queue-tag {
    background-color: #2ecc71;
  }
  
  
.h3 {
    font-size: 22px;
    font-weight: 500;

}

.description {
    margin-top: 50px;
    text-align: justify;
    width: 100%;
    height: 40%;
}

.p {
    color: white;
}

.span {
    font-weight: 400;
    font-size: 18px;
}

.button {
    position: absolute;
    height: 45px;
    width: 93.5%;
    margin: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid rgb(236, 6, 6);
    color: rgb(236, 6, 6);
  }

.button:hover {
    transition: ease-out 0.2s;
    background-color: rgb(236, 6, 6);
    color: white;
}